
*.d
*.o
Programas/Servers/dompi_gpio/dompi_gpio
Programas/Clientes/ioconfig.cgi/ioconfig.cgi
Programas/Clientes/iostatus.cgi/iostatus.cgi
Programas/Clientes/ioswitch.cgi/ioswitch.cgi
Programas/Clientes/wifi.cgi/wifi.cgi
