DOMPIIO_SERVER=127.0.0.1

CGI-TIMEOUT=10
INTERNAL-TIMEOUT=2
EXTERNAL-TIMEOUT=12

TRACE-IOCONFIG.CGI=0
TRACE-IOSTATUS.CGI=0
TRACE-IOSWITCH.CGI=0
TRACE-WIFI.CGI=0

DOMPIWEB-DEFAULT-HOST=127.0.0.1
DOMPIWEB-DEFAULT-PORT=80
DOMPIWEB-DEFAULT-PROTO=http
RQST-PATH=/cgi-bin
MAC-ADDRESS=b827eb1e8830
RBPI-IO-CONFIG=/var/lib/DomPiIO/dompiio.port.config


